@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;700&display=swap');

:root {
    --background: rgb(60, 60, 80);
    --secondary-background: rgb(80, 80, 120);
    --highlight: rgb(120, 120, 160);
    --outline: rgb(30, 30, 35);
    --text: rgb(35, 35, 45);
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
    box-sizing: border-box;
    user-select: none;
}

body {
    background-color: var(--background);
    overflow: hidden;
}

#simulation-screen {
    width: 100%;
    height: 100%;
}

.main-container {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column-reverse;
}

.horizontal-bar {
    display: flex;
    width: 100%;
    height: auto;
    flex-shrink: 0;
}

.horizontal-bar-inner {
    flex: 1;
    margin: 8px;
    margin-top: 0;
    height: 48px;
    background-color: var(--secondary-background);
    border: 2px solid var(--outline);
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.horizontal-bar-segment {
    flex: 1;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    gap: 16px;
    /* border-left: 1px solid var(--outline);
    border-right: 1px solid var(--outline); */
}

.content-container {
    display: flex;
    padding: 8px;
    flex: 1;
}

.side-bar {
    height: 100%;
    width: 320px;
    background-color: var(--secondary-background);
    border: 2px solid var(--outline);
    padding: 4px;
    display: flex;
    flex-direction: column;
    gap: 4px;
    overflow: auto;
}

.collapsible {
    padding: 2px;
}

.collapsible .collapsible-select {
    position: relative;
    padding: 2px;
    transition: border-bottom-width 0.2s;
    width: 100%;
}

.collapsible .collapsible-select::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: scaleX(1);
    border-bottom: 2px solid var(--outline);
    transition: transform 0.2s;
}

.collapsible.expanded .collapsible-select::after {
    transform: scaleX(0);
}

.collapsible-select:hover {
    cursor: pointer;
    background-color: var(--highlight);
}

.collapsible .collapsible-content {
    margin-top: 0px;
    height: 0;
    width: 100%;
    overflow: hidden;
    transition: height 0.2s, margin-top 0.2s;
}

.collapsible.expanded .collapsible-content {
    margin-top: 4px;
}

.group-wrapper {
    background-color: var(--background);
    border: 2px solid var(--outline);
    margin: 1px;
    padding: 2px;
    animation: none;
}

.pause-button,
.skip-button,
.skip-button::after,
.skip-button.double::before {
    background: transparent;
    box-sizing: border-box;
    width: 0;
    height: 24px;
    border-color: transparent transparent transparent var(--text);
    cursor: pointer;
    transition: border-color 0.2s;
}

.pause-button:hover,
.skip-button:hover,
.skip-button:hover::after,
.skip-button.double:hover::before {
    border-color: transparent transparent transparent var(--highlight);
}

.pause-button {
    border-style: double;
    border-width: 0px 0 0px 20px;
    transition: border-width 0.1s ease;
}

.pause-button.paused {
    border-style: solid;
    border-width: 12px 0 12px 20px;
}

.skip-button {
    position: relative;
    margin-right: 2px;
    --rotation: 0;
}

.skip-button.back {
    margin-right: 0;
    margin-left: 2px;
    --rotation: 180deg;
    transform: rotate(180deg);
}

.skip-button.double {
    margin-right: 14px;
}

.skip-button.double.back {
    margin-right: 0;
    margin-left: 14px;
}

.skip-button,
.skip-button.double::before {
    border-style: solid;
    border-width: 12px 0 12px 18px;
}

.skip-button::after {
    content: "";
    position: absolute;
    border-style: solid;
    border-width: 0px 0 0px 4px;
    transform: translate(-4px, -50%);
}

.skip-button.double::after {
    transform: translate(10px, -50%);
}

.skip-button.double::before {
    content: "";
    position: absolute;
    transform: translate(-4px, -50%);
}

@keyframes skip-animation {
    0% {
        transform: rotate(var(--rotation)) translateX(0);
    }

    50% {
        transform: rotate(var(--rotation)) translateX(4px);
    }

    100% {
        transform: rotate(var(--rotation)) translateX(0);
    }
}

.skip-button.skipped {
    animation: skip-animation 0.2s ease-out;
}

.reverse-button {
    position: relative;
    width: 24px;
    height: 24px;
    border: none;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.2s ease-out;
}

.reverse-button::before,
.reverse-button::after {
    content: "";
    position: absolute;
    background: transparent;
    border-style: solid;
    border-width: 12px 12px 0 12px;
    border-color: var(--outline) transparent transparent transparent;
    transition: border-color 0.2s;
}

.reverse-button::before {
    transform: translateY(-6px);
}

.reverse-button::after {
    transform: translateY(6px) rotate(180deg);
}

.reverse-button .arrow {
    position: relative;
    height: 2px;
    width: 18px;
    background-color: var(--outline);
    transition: background-color 0.2s;
}

.reverse-button .arrow::after {
    position: absolute;
    content: "";
    background: transparent;
    border-style: solid;
    border-width: 0 2px 2px 0;
    border-color: transparent var(--outline) var(--outline) transparent;
    transform: translate(4px, calc(-50% + 1px)) rotate(-45deg);
    width: 4px;
    height: 4px;
    transition: border-color 0.2s;
}

.reverse-button:hover::after,
.reverse-button:hover::before {
    cursor: pointer;
    border-color: var(--highlight) transparent transparent transparent;
}

.reverse-button:hover .arrow {
    background-color: var(--highlight);
}

.reverse-button:hover .arrow::after {
    border-color: transparent var(--highlight) var(--highlight) transparent;
}

.reverse-button.reversed {
    transform: rotate(180deg);
}

.slider-wrapper {
    position: relative;
    display: flex;
    align-items: center;
}

.slider-container {
    position: relative;
    width: 240px;
    height: 4px;
    display: flex;
    align-items: center;
    background-color: var(--outline);
}

.slider-text {
    position: absolute;
    top: -20px;
}

.slider-container input[type="range"] {
    appearance: none;
    width: 100%;
    height: 6px;
    background: transparent;
    z-index: 2;
}

.slider-container input[type="range"]::-webkit-slider-thumb {
    appearance: none;
    cursor: pointer;
    width: 4px;
    height: 20px;
    border-radius: 0;
    background-color: var(--outline);
    transition: background-color 0.2s, height 0.2s ease;
}

.slider-container input[type="range"]::-webkit-slider-thumb:hover {
    height: 24px;
    background-color: var(--highlight);
}

.slider-progress {
    position: absolute;
    left: 0%;
    right: 100%;
    height: 4px;
    background-color: var(--highlight);
    z-index: 0;
}

.slider-marker-container {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}

.slider-marker-container div {
    width: 2px;
    height: 12px;
    background-color: var(--outline);
    transition: background-color 0.2s;
}

.slider-marker-container div:first-of-type, .slider-marker-container div:last-of-type {
    width: 4px;
    height: 16px;
}

.highlighted {
    background-color: var(--highlight) !important;
    height: 100px;
}

/* .slider input[type="range"]::-moz-range-thumb {
    background-color: red;
} */

/* .parent {
    display: grid;
    grid-template-columns: 1fr 0.5fr 1.5fr;
    grid-template-rows: 1fr 1fr 0.25fr 0.5fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    height: 100vh;
}

.creationdiv {
    grid-area: 1 / 1 / 2 / 2;
    margin: 0.5vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.creationdiv button {
    width: 75%;
    height: 18%;
    border-radius: 5px;
    background-color: #007acc;
    font-size: clamp(12px, 1.5vw, 20px);
    border: none;
    transition: background-color 0.2s ease;
    color: white;
}

.creationdiv button:hover {
    background-color: #0060a1;
}

.creationdiv button:active {
    transform: scale(0.98);
}

.simulationdiv {
    grid-area: 1 / 2 / 3 / 4;
    background-color: #2b2b2b;
    margin: 0.5vw;
    border-radius: 20px;
}

#bubbleTitle {
    font-size: clamp(12px, 2vw, 25px);
    font-weight: 700;
    text-align: center;
}

.infobox {
    padding-left: 1vw;
    font-size: clamp(12px, 1.5vw, 20px);
}

.infodiv {
    grid-area: 3 / 2 / 5 / 3;
    background-color: #2b2b2b;
    margin: 0.5vw;
    border-radius: 20px;
    padding-top: 1vh;
}

.controlButtonDiv {
    grid-area: 3 / 1 / 4 / 2;
    background-color: #2b2b2b;
    margin: 0.5vw;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.controlButtons {
    display: flex;
    gap: 1vw;
    align-items: center;
    padding: 1vw;
}

#resetSimulationButton {
    background-color: #b82621;
}

#resetSimulationButton:hover {
    background-color: #851a17;
}

.control-button {
    background: none;
    border: none;
    padding: 0.5em;
    cursor: pointer;
    color: white;
    display: flex;
    border-radius: 50%;
    transition: all 0.2s ease;
    position: relative;
    width: 2vw;
    height: 2vw;
}

.control-button:hover {
    background-color: #007acc;
}

.control-button:active {
    transform: scale(0.9);
    background-color: #0060a1;
}

.control-button svg {
    pointer-events: none;
}

.start-button {
    margin-right: auto;
}

.end-button {
    margin-left: auto;
}

.settingsDiv {
    grid-area: 4 / 1 / 5 / 2;
    background-color: #2b2b2b;
    margin: 0.5vw;
    border-radius: 20px;
    padding-top: 1vh;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.settingsInput {
    width: 10vw;
    margin: 0.5vw;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.infobox label {
    display: flex;
    align-items: center;
    gap: 5px;
}

#airResistanceButton {
    width: 50%;
    height: 25%;
    background-color: #BA362E;
    border-radius: 5px;
    font-size: clamp(12px, 1.5vw, 20px);
    border: none;
    transition: background-color 0.2s ease;
    color: white;
}

#airResistanceButton:hover {
    background-color: #9e1209;
}

#airResistanceButton:active {
    transform: scale(0.98);
}

.timeSeekerContainer {
    grid-area: 3 / 2 / 4 / 4;
    margin: 0.5vw;
    background-color: #2b2b2b;
    border-radius: 20px;
    padding: 1.5vw;
    display: flex;
    align-items: center;
}

.timeSeekerBubble {
    width: 100%;
    height: 100%;
}

.timeline {
    position: relative;
    width: 100%;
    height: 1.5vw;
    background-color: white;
    border-radius: 0.75vw;
    margin: 0 auto;
}

.progress {
    position: absolute;
    height: 100%;
    width: 0%;
    background-color: orange;
    border-radius: 0.75vw;
    transition: width 0.1s linear;
}

.timeCircle {
    position: absolute;
    width: 2vw;
    height: 2vw;
    background-color: #666;
    border-radius: 50%;
    top: 50%;
    left: 0%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    transition: left 0.1s linear;
}

.timeLabels {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 0.5vw;
    font-size: clamp(14px, 1.2vw, 18px);
}

#timeStart,
#timeMid,
#timeEnd {
    color: white;
}

.activeProjectileDiv {
    grid-area: 2 / 1 / 3 / 2;
    background-color: #2b2b2b;
    margin: 0.5vw;
    padding: 1vw;
    border-radius: 20px;
    padding-top: 1vh;
}

.activeContainer {
    line-height: 150%;

}


.graphingDiv {
    grid-area: 3 / 3 / 5 / 4;
    background-color: #009b77;
} */